/* TODO Add site wide styles */

* {
  box-sizing: border-box;
}


html {
  background-color: rgb(210, 210, 246);
  /* display: flex; */
}


body {
  margin: 0;
  display: flex;
  flex-direction: vertical;
  justify-content: right;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
}


button {
  background-color: light gray;
  border-radius: 2px;
  color: rgb(97, 89, 89);
}


/* #root {
  
 
  display: flex;
  flex-direction: vertical;
  align-items: center;
  gap: 2rem;
  padding-bottom: 3rem;
  position: relative;
} */
/* 


html {
  display: inline;
  box-sizing: border-box;
} */

/* #body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
}




.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  width: 100%;
  height: max-content;
  padding: 1rem;
} */
