/* TODO Add site wide styles */

* {
  box-sizing: border-box;
}


html {
  background-color: rgb(210, 210, 246);
  /* display: flex; */
}


body {
  margin: 0;
  display: flex;
  flex-direction: vertical;
  justify-content: right;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
}


button {
  background-color: light gray;
  border-radius: 2px;
  color: rgb(97, 89, 89);
}


#modal-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 30%;
}

input {
  justify-content: center;

}