.header {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: right;
  align-items: vertical;
  position: top sticky;
  background-color: rgb(148, 148, 241);
  margin: 0px;
  padding: 0px;
}

.nav-buttons {
  justify-content: right;
  align-items: vertical;
  padding: 10 px;
  margin: 50 px;
}

#welcome {
  display: flex;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: rgb(16, 46, 178);
  background-color: rgb(148, 148, 241);
  padding: 0px;
  margin: 0px;
}

#mindless {
  display: flex;
  justify-content: center;
  align-items: row;
  font-family:Arial, Helvetica, sans-serif;
  color: white;

}


button {
  font-family:Arial, Helvetica, sans-serif;
  background-color: light gray;
  border-radius: 3px;
  color: rgb(97, 89, 89);
  font-weight: bold;
}

a {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  display: flex;
  justify-content: left;
  background-color: rgb(148, 148, 241);
  box-shadow: 0px 3px 20px rgb(97, 89, 89)
}